body {
	background-image: url('../images/bodybackground.png');
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1vw;
}

a {
	text-decoration: none;
}

#container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: #e8d2f7;
	border-left: .1vw solid #d4abef;
	border-right: .1vw solid #d4abef;
}

#logo img {
	width: 95%;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	margin-top: 1.5vw;
}

nav ul {
	list-style-type: none;
	margin-top: -3.5vw;
	margin-left: 25vw;
}

nav ul li {
	display: inline;
	margin-right: 1.25vw;
}

nav a {
	color: #277273;
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.25vw;
	font-weight: bold;
}

nav a:hover {
	border-bottom: .25vw solid #98608c;
}

h1 {
	font-family: 'Titan One', cursive;
	color: #98608c;
	font-size: 2.5vw;
	text-align: center;
	font-weight: 200;
	margin-bottom: 1vw;
}

#contentmain {
	width: 70%;
	margin-top: 1vw;
	padding: 1.5vw;
}

#contact {
	width: 23%;
	float: right;
	margin-top: 1.5vw;
	margin-right: 1vw;
}

h2 {
	color: #277273;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2vw;
	font-weight: bold;
	margin-bottom: 1vw;
}

#contact a, footer a, #contentmain a {
	color: #277273;
}

#contentmain a {
	font-weight: bold;
}

#contact a:hover, footer a:hover, #contentmain a:hover {
	color: #98608c;
}

#contact img {
	width: 18%;
	margin-right: 1vw;
	margin-top: .5vw;
}

footer {
	margin-right: 1.5vw;
	text-align: right;
	clear: both;
}

footer p {
	margin: 0;
	padding-bottom: 1vw;
}

.placeholder {
	width: 95%;
	margin-bottom: 2vw;
	margin-left: 1.5vw;
}

#bioimg {
	width: 30%;
	float: left;
	margin-right: 1vw;
	margin-bottom: .25vw;
	margin-top: 2vw;
}

#resume {
	display: block;
	text-align: center;
}

#resume img {
	width: 40%;
}

#contentmain img {
	border: .2vw solid #98608c;
}

h3 {
	color: #98608c;
}

.articletitle {
	font-size: 2vw;
	text-align: left;
}

.articlesubtitle {
	font-size: 1.5vw;
}

.before {
	width: 45%;
	float: left;
}

.after {
	float: right;
	width: 45%;
}

.beforeandafter {
	clear: both;
}

iframe {
	width: 75%;
	height: 20vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.octocat {
	width: 4%;
	border: none !important;
	margin-right: .5vw;
}

.newspaperpages img {
	width: 45%;
	margin-right: 1vw;
 }